.container {
  margin-top: 30px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;

  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
    gap: 2rem;
    width: 100%;
  }
}
